<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario registro de pacientes</title>
</head>
<body>
	<center> <p>Formulario de registro de pacientes.</p> </center>
	{{ titulo }}
	{{ request.user}}
	{% if contacto %}
<form method="POST" action="">{% csrf_token %}
 {{ contacto.as_p }}
 <input type="submit" value="Guardar">
</form>
	{% endif %}
	</center>
</body>
</html>