<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario registro de ficha</title>
</head>
<body>
	<center> <p>Formulario de registro de fichas.</p> </center>
	{{ titulo }}
	{{ request.user}}
	{% if formulario_registro_ficha %}
<form method="POST" action="">{% csrf_token %} 
	<center>
		{{ formulario_registro_ficha.as_p}}
	<input type="submit" value="Guardar">
</form>
	{% endif %}
	</center>
</body>
</html>